<mat-card>
  <mat-card-header>
       
        <mat-card-title>Print Labels</mat-card-title>

  </mat-card-header>
  <form [formGroup]="form" (submit)="scan()">
      <div class="form-group">
        
          <input 
          type="text" 
          class="form-control"
          placeholder="SKU"
          formControlName="sku">
        
      </div>

    <div class="form-group">
      <select class="form-control" formControlName="printer">
        <option disabled selected value>Printer</option>
        <option 
          *ngFor="let printer of printers; let id = index"
          [value]="printer.PrinterName"
          >{{printer.PrinterLocationName}} | {{printer.PrinterName}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <select class="form-control" formControlName="template">
        <option disabled selected value>Template</option>
        <option 
          *ngFor="let template of templates; let id = index"
          [value]="template.TemplateId"
        >{{template.TemplateType}}</option>
      </select>
    </div>

    <button mat-stroked-button type="submit" color="primary" >PRINT</button>
  </form>
</mat-card>