<mat-card>
  <div class="row">
      <div class="col-lg">
        <form [formGroup]="form" (submit)="findOrder()">
            <mat-form-field>
              <input 
                #orderNumber
                formControlName="orderNumber"
                matInput 
                placeholder="Order Number">
            </mat-form-field>    
            <button 
                mat-raised-button
                color="basic"
                type="submit"
                >Find
            </button> 
          </form>
      </div>
      <div class="col-lg checkboxes">
        <div class="form-group">
          <select class="form-control" >
            <option disabled selected value>Printer</option>
            <option 
              *ngFor="let printer of printers; let id = index"
              [value]="printer.PrinterName"
              >{{printer.PrinterLocationName}} | {{printer.PrinterName}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" >
            <option disabled selected value>Template</option>
            <option 
              *ngFor="let template of templates; let id = index"
              [value]="template.TemplateId"
            >{{template.TemplateType}}</option>
          </select>
        </div>
      </div>

      <div class="col-lg">
        <mat-checkbox class="checkbox-margin">Autoprocess</mat-checkbox>
        <mat-checkbox class="checkbox-margin">Autoprint </mat-checkbox>
      </div>

      <div class="col-lg print-buttons">
          <button mat-raised-button color="primary">Print Label</button>
          <button mat-raised-button color="primary">Print Invoice</button>
      </div>
  </div>
  
</mat-card>

<div style="margin-top: 1rem">
  
          <mat-card>
            Name: {{name}}  
          </mat-card>
          <mat-card>
            Company: {{company}}
          </mat-card>
          <mat-card>
            Address 1: {{address1}}
          </mat-card>
          <mat-card>
            Address 2: {{address2}}

          </mat-card>
          <mat-card>
            Address 3: {{address3}}

          </mat-card>
          <mat-card>
            Town: {{town}}, {{region}}, {{postcode}}
          </mat-card>
          <mat-card>
            Phone: {{phone}}

          </mat-card>
          <mat-card>
            Email: {{email}}

          </mat-card>

          <mat-card>
            Notes:
                  <span *ngFor="let note of orderNotes; let id = index">
                  {{note}}.
                  </span> 
          </mat-card>

          <mat-card>
            <div class="row">
            <form [formGroup]="formDisplay">
              <mat-form-field class="col-md-4">
                <mat-select placeholder="Shipping Method" formControlName="shippingMethod">
                  <mat-option *ngFor="let shippingMethodItem of shippingMethodArray" [value]="shippingMethodItem.pkPostalServiceId" >
                    {{shippingMethodItem.PostalServiceName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="col-md-4">
  
                <mat-select placeholder="Packaging Group" formControlName="packagingGroup" (selectionChange)="onChangePackageGroup($event)">
                  <mat-option *ngFor="let packagingGroupItem of packagingGroupArray" [value]="packagingGroupItem.packagingGroupId" >
                    {{packagingGroupItem.packagingGroupName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field class="col-md-4">
                <mat-select placeholder="Packaging Type" formControlName="packagingType">
                  <mat-option *ngFor="let packagingTypeItem of packagingTypeArray" [value]="packagingTypeItem.PackagingTypeId" >
                    {{packagingTypeItem.Name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </form>
          </div>
            <br>
            
            <div class="row">
              <div class="offset-md-5">
                  <button mat-raised-button color="alert" style="margin-left: 5px">Process</button>
              </div>
            </div>
           
          </mat-card>

    
</div>
