.checkbox-margin {
    margin: 0 10px;
  }
.checkboxes{
    margin-top: 1.5rem;
}

.print-buttons{
    margin-top: 1.5rem;
}
.print-buttons button{
    margin-top: 2px;
    margin-right: 8px;
}

mat-card{
    border-radius: 0;
}
