
<mat-card>
    <p class="login-header">Login</p>
    <form [formGroup]="form" (submit)="login()">
      <mat-form-field>
        <input 
        matInput 
        placeholder="Email"
        type="email"
        formControlName="email">
      </mat-form-field>

      <mat-form-field>
          <input 
          matInput 
          type="password"
          placeholder="Password"
          formControlName="password">
      </mat-form-field>
    
     

      <mat-card-actions>
          <button mat-stroked-button type="submit" color="primary" >Login</button>
      </mat-card-actions>
  </form>
</mat-card>