
  <mat-card>
      <div class="row">
          <button mat-raised-button color="primary" routerLink="/create-product">
            <mat-icon aria-label="plus icon">add</mat-icon>
            Add Product 添加产品
          </button>

      </div>
      <br>

      <div class="row">
          <div class="col">
            <form [formGroup]="form" (submit)="checkSku()">
                <mat-form-field floatLabel="always">
                  <input 
                    #skuKey
                    [matAutocomplete]="auto"
                    [formControl]="myControl"
                    matInput 
                    type="text"
                    placeholder="SKU Key"
                    (keyup)="chooseFirstOptionActive($event)"
                    >
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let sku of filteredOptions | async" [value]="sku">
                          {{sku}}
                        </mat-option>
                      </mat-autocomplete>
                </mat-form-field>
                <button 
                  mat-raised-button
                  color="basic"
                  type="submit"
                  >Check Info 查看信息
                </button>
            </form>
            <br>
          </div>
      </div>
      <div class="row">
          <div class="col">
                <router-outlet></router-outlet>
          </div>
      </div>

  </mat-card>

  

