<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Inventory</ng-template>
    <form [formGroup]="firstFormGroup">
       
        <!-- <div>
          <input type="file" #filePicker (change)="onImagePicked($event)">
          <button type="button" mat-stroked-button (click)="filePicker.click()">Pick Image</button>
       
        </div> -->

        <mat-form-field>
          <input 
          matInput 
          placeholder="Item Number"
          formControlName="itemNumber">
        </mat-form-field>
      
        <mat-form-field>
            <input 
            matInput 
            placeholder="Item Name"
            formControlName="itemTitle">
          </mat-form-field>
          
        <mat-form-field>
          <input 
          #quantity
          matInput 
          placeholder="Quantity"
          formControlName="quantity">
        </mat-form-field>
        
        
        <mat-form-field>
          <input 
          matInput 
          placeholder="Bin Rack"
          formControlName="bin">
        </mat-form-field>
        
        
          <div formArrayName="images"
            *ngFor="let image of formData.controls; let i = index;">
            
            <div [formGroupName]="i">
              <mat-form-field>
                <input 
                matInput 
                [placeholder]="'Image '+(i+1)"
                formControlName="imageUrl">
              </mat-form-field>
            </div>

          </div>
          <button mat-button (click)="addImage()">
              <mat-icon aria-label="plus icon">add</mat-icon>
              Add Image</button>
          <br>
          <br>
          <div>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Stock</ng-template>
    <form [formGroup]="secondFormGroup">
      
            
      
      <mat-form-field>
        <input 
        matInput 
        placeholder="Minimum Level"
        formControlName="minimumLevel">
      </mat-form-field>


      <mat-form-field>
        <input 
        matInput 
        placeholder="Barcode"
        formControlName="barcodeNumber">
      </mat-form-field>

      <mat-form-field>
        <input 
        matInput 
        placeholder="Purchase Price CNY"
        formControlName="purchasePrice">
      </mat-form-field>
      <mat-form-field>
        <input 
        matInput 
        placeholder="Retail Price"
        formControlName="retailPrice">
      </mat-form-field>
      <mat-form-field>
          <input 
          matInput 
          placeholder="Tax Rate"
          formControlName="taxRate">
        </mat-form-field>
      

      <mat-form-field>
        <input 
        matInput 
        placeholder="Height"
        formControlName="height">
      </mat-form-field>

      <mat-form-field>
        <input 
        matInput 
        placeholder="Width" 
        formControlName="width">
      </mat-form-field>

      <mat-form-field>
        <input 
        matInput 
        placeholder="Depth"
        formControlName="depth">
      </mat-form-field>

      <mat-form-field>
        <input 
        matInput 
        placeholder="Weight"
        formControlName="weight">
      </mat-form-field>

    
        <mat-form-field >
          <mat-select placeholder="Postal Service ID" formControlName="postalServiceId">
            <mat-option *ngFor="let postalServiceId of postalServices" [value]="postalServiceId.Value" >
              {{postalServiceId.Key}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Category ID" formControlName="categoryId">
            <mat-option *ngFor="let categoryId of categories" [value]="categoryId.CategoryId" >
              {{categoryId.CategoryName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Package Group ID" formControlName="packageGroupId">
            <mat-option *ngFor="let packageGroupId of packageGroups" [value]="packageGroupId.Value" >
              {{packageGroupId.Key}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-raised-button color="primary" matStepperNext >Next</button>
        </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
    <ng-template matStepLabel>Suppliers</ng-template>
    <!-- <mat-checkbox class="checkbox-margin" (change)="toggleSuppliers($event,supplier.pkSupplierID)" *ngFor="let supplier of suppliers">{{supplier.SupplierName}}</mat-checkbox> -->
   
        <mat-form-field>
          <mat-label>Suppliers</mat-label>
          <mat-select formControlName="suppliersSelected" multiple>
            <mat-option *ngFor="let supplier of suppliers" [value]="supplier.pkSupplierID">{{supplier.SupplierName}}</mat-option>
          </mat-select>
        </mat-form-field>
        
        <button mat-button (click)="createSupplier()">
            <mat-icon aria-label="plus icon">add</mat-icon>
          Create New Supplier
        </button>

        <br>
        <br>
      <div>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" (click)="addInventoryItem()">Create Item</button>
      </div>
    </form>
    
  </mat-step>
</mat-horizontal-stepper>